<ha-device-list></ha-device-list>
  <!-- <mat-list fxHide fxShow.lt-sm >
    <span *ngFor="let device of devices" >
      <ha-device mat-list-item [device]="device" ></ha-device>     
      <mat-divider></mat-divider>
    </span>
  </mat-list>
  <div fxHide fxShow.gt-xs fxLayout="row wrap" fxLayoutAlign="space-around center" >
    <mat-card fxFlex="0 0 45%" *ngFor="let device of devices" >
      <ha-device mat-list-item [device]="device" ></ha-device>           
    </mat-card>
  </div> -->
  <!-- <ha-add-device></ha-add-device> -->
