<!-- <div class="wrapper"> -->
  <h1>Getting started</h1>
  <div class="welcome" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch " fxLayoutGap="0px">
    <!-- TODO: Add some icons and change description text -->
    <section fxFlex="30%" ngClass.gt-sm="elevation2">
      <h2>Connect a device</h2>
      <p>Pick a device you want to control and download the appropriate software</p>
    </section>
    <section fxFlex="30%" ngClass.gt-sm="elevation2">
      <h2>Link to device</h2>
      <p>No easier way, just point and click</p>
    </section>
    <section fxFlex="30%" ngClass.gt-sm="elevation2">
      <h2>Link to Google</h2>
      <p>Add your "Immisorator Home Automation" account to google's smart home</p>
    </section>
  </div>
<!-- </div> -->